
ClashOfApps2/Library/CurrentLayout-default.dwlt
*.log
ClashOfApps2/Library/CurrentLayout-default.dwlt
ClashOfApps2/Library/SourceAssetDB
ClashOfApps2/Library/StateCache/Hierarchy/329e79-mainStage.json
ClashOfApps2/Library/ArtifactDB
ClashOfApps2/Library/ScriptAssemblies/Assembly-CSharp.dll
ClashOfApps2/Library/shadercompiler-UnityShaderCompiler.exe0.log
ClashOfApps2/Library/SourceAssetDB
