
ClashOfApps2/Library/CurrentLayout-default.dwlt
*.log
ClashOfApps2/Library/CurrentLayout-default.dwlt
ClashOfApps2/Library/SourceAssetDB
ClashOfApps2/Library/StateCache/Hierarchy/329e79-mainStage.json
